@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@layer base {
  @font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap")
      format("Open Sans");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
